h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.app{
    display: flex;
    justify-content: space-between;
}
.app textarea{
    width: 50vw;
    min-height: 100vw;
}